body{
  background-color: #ffffff;
}
.app {
  max-width: 500px;
  margin: auto;
  border: 1px solid black;
}

.app-logo {
  width:20%;
  pointer-events: none;
  text-align: left;
  margin-right: 20px;
  max-width: 200px;
}
  

.app-header {
  background-color: #0d81a1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 4em;
  color: #ffffff;
  border-bottom: 2px solid darkgray;
  font-family: cursive;
  margin: auto 0px;
} 
.app-body{
  background-color: white;
  min-height: 71vh;
  color: #313130;
  padding-top: 5vh;
  padding-bottom: 50px;

}
.avatar{
  position: relative;
  margin: 5px 5px 0px 0px;
}
.profile{
  
  border: 1px solid darkgray;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.petTile{
  border: 1px solid #4d4545;
  padding: 10px;
  background-color: #a9bfc5;
  border-radius: 10px;
  margin: 10px 0px;
  box-shadow: 2px 3px 4px #71868d;
}
.petName{
  margin: 0px;
}
.editBtnContainer{
  text-align: right;
}
.editBtn:hover{
  cursor: pointer;
}
.createSearchContainer,.addRemovePetContainer{
  text-align: center;
}
.addRemovePetContainer{
  margin-top: 10px;
}

.createSearch:hover{ 
    cursor: pointer;
  }
  .searchTile:hover{
    cursor: pointer;
  }
  .closeSearch{
    font-size: 20px;
  }
  .closeSearch:hover{
    cursor: pointer;
  }
  #BackArrow{
    width: 40px;
    height: 20px;
  }
@media screen and (max-width: 550px) {
    .data-table.data-points .sliders{
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    .data-table.data-points .sliders td{
      width: 70%;
    }
    .results{
      overflow-x: auto;
    }
}