body{
  background-color: #ffffff;
}
.app {
  max-width: 500px;
  margin: auto;
  border: 1px solid black;
}

.app-logo {
  width:20%;
  pointer-events: none;
  text-align: left;
  margin-right: 20px;
  max-width: 200px;
}
  

.app-header {
  background-color: #0d81a1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 4em;
  color: #ffffff;
  border-bottom: 2px solid darkgray;
  font-family: cursive;
  margin: auto 0px;
} 
.app-body{
  background-color: white;
  min-height: 71vh;
  color: #313130;
  padding-top: 5vh;
  padding-bottom: 50px;

}
.avatar{
  position: relative;
  margin: 5px 5px 0px 0px;
}
.profile{
  
  border: 1px solid darkgray;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.petTile{
  border: 1px solid #4d4545;
  padding: 10px;
  background-color: #d6e7eb;
  border-radius: 10px;
  margin: 10px 0px;
  box-shadow: 2px 3px 4px #71868d;
}
.petName{
  margin: 0px;
}
.editBtnContainer{
  text-align: right;
}
.editBtn:hover{
  cursor: pointer;
}
.createSearchContainer,.addRemovePetContainer{
  text-align: center;
}
.addRemovePetContainer{
  margin-top: 10px;
}

.createSearch:hover{ 
    cursor: pointer;
  }
  .searchTile:hover{
    cursor: pointer;
  }
  .closeSearch{
    font-size: 20px;
  }
  .closeSearch:hover{
    cursor: pointer;
  }
  #BackArrow{
    width: 40px;
    height: 20px;
  }
  .primaryButton {
    box-shadow: 0px 10px 14px -7px #15393f;
    background-color:#2f5665;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:8px 22px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
  }
  .primaryButton:hover {
    background-color:#408c99;
  }
  .primaryButton:active {
    position:relative;
    top:1px;
  }
  .editBtn{
    background: #0fe50f;
    color: white;
    border: 2px solid #0bad0b;
    padding: 0px 15px;
  }
  .editBtn:hover {
    background-color:#11f711;
  }
  .editBtn:active {
    position:relative;
    top:1px;
  }
  .addRemovePet{
    box-shadow: 0px 10px 14px -7px #15393f;
    background-color: #999696;
    border-color: gainsboro;
    width: 50%;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 22px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #333333;
  }
  .addRemovePet:hover {
    background-color:#aaa8a8;
  }
  .addRemovePet:active {
    position:relative;
    top:1px;
  }
@media screen and (max-width: 550px) {
    .data-table.data-points .sliders{
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    .data-table.data-points .sliders td{
      width: 70%;
    }
    .results{
      overflow-x: auto;
    }
}